{% load static %}
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/style1.css" %}">
	<link type="text/css" rel="stylesheet" href={% static "css/materialize.min.css" %} media="screen,projection" />
	
	{% block css %} {% endblock %}
	<style type = "text/css">
		*{font-size:20px;font-family:calibri;}
		.nav { background-color:blue;}
		.nav a{color:white;text-decoration:none;padding:30px;}
	{% block style %} {% endblock %}
	</style>
	

	
</head>
<body>		
	<nav class="blue darken-1">
    	<div class="nav-wrapper">
      		<a href="#" class="brand-logo">Smart Voting System</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
		{% if user.is_authenticated and user.is_staff %}
		<li><a href="{% url 'ulogout' %}" id="logoutButton">Logout</a></li>
		{% else %}
		<li><a href="{% url 'home' %}" id="backhome">Home</a></li>
		{% endif %}
		</ul>
	</div>
	</nav>
	{% block content %} 
	{% endblock %}
<script type="text/javascript">
{% block script %} {% endblock %}
</script>
</body>
</html>